/*
 * Default CSS sheet for styling SVG output
 *
 * @author Milos Kalab
 * @version 5. 5. 2012
 */


.f-results{

}

.f-resource{

}

.f-resource rect{
    stroke-width:2px;
    stroke:red;
    fill:#ccc;
}

.f-resource text{
    font-family:LucidaGrande;
    font-size:11;
}

.f-property{

}

.f-property .f-label line{
    stroke:#000;
    stroke-width:2;
    stroke-dasharray:9, 5
}

.f-property .f-label text{
    font-family:LucidaGrande;
    font-size:11;
}

.f-values{

}

.f-values .f-label line{
    stroke:#000;
    stroke-width:2;
    stroke-dasharray:9, 5
}

.f-value {

}

.f-value rect{
    stroke-width:2px;
    stroke:blue;
    fill:#eee;
}

.f-value text{
    font-family:LucidaGrande;
    font-size:11;
}

foreignObject body div{
    font-size:11px;
    padding:6px 6px 6px 6px
}
